:root {
  --accent: rgb(177, 65, 209);
  --accent-alpha-70: rgba(177, 65, 209,.7);
  --accent-alpha-20: rgba(177, 65, 209,.2);

  --background: #1D212C;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
